{% extends "base" %}

{% block content %}
<div class="wrapper">
    <div class="page-header" style="background-image: url('/assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            <a href="#" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form" name="form" action="/auth?client_name=FromClient" method="POST">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email" name="username">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <button class="btn btn-danger btn-block btn-round">Login</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy; <script>document.write(new Date().getFullYear())</script>, Jooby adaptation made with <i class="fa fa-heart heart"></i> by me</h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}